//  how to use variable & how to work Partial.

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$text-white : white;
$text-center : center ;
$background-pink : pink ;
$text-margin : 30px;
$text-padding : 20px;
